.language-label {
  display: block;
  font-size: 0.8rem;
  glyph-orientation-horizontal: 20deg;
  color: var(--color-faded);
  padding: 0.2rem;
  border-radius: 4px;
  color: white;
  box-shadow: inset 0px 2px 0px rgba(0, 0, 0, 0.25);
}

.language-label[language="c++"] {
  background: linear-gradient(0deg, rgb(10, 84, 164), rgb(30, 104, 160));
}

.language-label[language="c#"] {
  background: linear-gradient(0deg, rgb(102, 30, 131), rgb(122, 50, 151));
}

.language-label[language="ts"] {
  background: linear-gradient(0deg, rgb(0, 102, 184), rgb(0, 122, 204));
}

.language-label[language="css"],
.language-label[language="python"] {
  background: linear-gradient(0deg, rgb(21, 81, 221), rgb(41, 101, 241));
}

.language-label[language="rust"] {
  background: linear-gradient(0deg, rgb(204, 58, 0), rgb(244, 150, 0));
}
