.contact-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-2);
    outline: 1px solid var(--control-outer-border);
    border: 1px solid var(--background-2-saturated);
    margin: 1px;
    padding: 34px;
    gap: 12px;
    border-radius: var(--control-border-radius);
    text-decoration: none;
}

.contact-card h1 {
    font-size: var(--text-size-header-sub);
    font-weight: bold;
    color: var(--text-normal);
}

.contact-card .icon {
    font-size: 64px;
    color: var(--bright-white);
}