.project-card {
    display: flex;
    flex-direction: column;
    padding: var(--space-3) var(--space-3);
    gap: var(--space-3);
    margin: 1px;
    outline: 1px solid var(--control-outer-border);
    border: 1px solid var(--background-2-saturated);
    background-color: var(--background-2);
    border-radius: var(--control-border-radius);
    max-width: 350px;
    text-align: center;
}

.project-card header h1 {
    text-align: center;
    font: var(--text-header-sub);
}

.project-card .buttons {
    display: flex;
    gap: var(--space-3);
}

@media only screen and (max-width: 600px) {
    .project-card {
        max-width: none;
        gap: var(--space-2)
    }
}