@import url("css-reset.css");

:root {
  --page-background: #3b2626;
  --panel-background-level2: #9b6767;
}

body {
  background-color: var(--page-background);
  background-image: url("../background.png");
  background-repeat: repeat;
}

span.arrow-pattern {
  position: absolute;
  right: 0;
  left: 1;
  bottom: 1;
  top: 1;
  width: 64px;
  height: 100%;
  background-image: url("../arrow.svg");
}
