@import url("css/utils.css");
@import url("css/button.css");
@import url("css/clip-box.css");
@import url("css/css-reset.css");

/* :root
{
  --page-background: rgb(245, 245, 245);
  --background-separation: rgb(255, 255, 255);
  --background-control: rgb(230, 230, 230);
  --background-decoration: rgb(250, 250, 250);
  --background-control-active: rgb(200, 200, 200);
  --color-faded: rgb(15, 15, 15);
  --color-normal: rgb(5, 5, 5);
  --color-active: rgb(3, 3, 3);
} */

:root
{
  --page-background: rgb(255, 255, 255);
  --background-separation: rgb(245, 245, 245);
  --border-semitransparent: rgba(50, 50, 50, 0.5);
  --background-control: rgb(230, 230, 230);
  --background-decoration: rgb(250, 250, 250);
  --background-control-active: rgb(200, 200, 200);
  --color-faded: rgb(15, 15, 15);
  --color-normal: rgb(5, 5, 5);
  --color-active: rgb(3, 3, 3);
}

body
{
  background: var(--page-background);
  color: var(--color-normal);
  font-family: "Inter", Arial, sans-serif;
}

/* Fixed images being too big */
img
{
  max-width: 100%;
}